@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/woff2/AtkinsonHyperlegibleNext-Regular.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/woff2/AtkinsonHyperlegibleNext-Medium.woff2)
    format('woff2');
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  min-height: 100vh;
}
